<form action="/account/password/reset/{{token}}" method="POST" novalidate id="signin-form">
    <h3 class="mb-4 pb-2 border-bottom">Set New Password</h3>
    <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="password" name="password" id="password" class="form-control" autofocus>
        {{#if errors.password}}
        <small class="invalid-feedback d-block">{{errors.password}}</small>
        {{else}}
        <small class="text-muted">password must be atleast 4 characters long</small>
        {{/if}}
    </div>
    <div class="form-group">
        <label for="new_password2">Confirm New Password</label>
        <input type="password" name="password2" id="password2" class="form-control">
        {{#if errors.password2}}
        <small class="invalid-feedback d-block">{{errors.password2}}</small>
        {{else}}
        <small class="text-muted">enter new password again</small>
        {{/if}}
    </div>
    <input type="submit" value="Save" class="btn btn-block btn-secondary mt-4">
</form>
